:root {
  --main-width: 1440px
  --content-width: 1105px
  --font-regular: 'Inter', Arial, Helvetica Neue, Helvetica, sans-serif
  --font-bold: 'Geologica', Arial, Helvetica Neue, Helvetica, sans-serif
  --font-size-desktop: 16px;

  // main colors
  --black: #000000
  --black-o1: rgba(#000000, 0.1)
  --black-o3: rgba(#000000, 0.3)
  --black-o5: rgba(#000000, 0.5)
  --white: #FFFFFF
  --white-o05: rgba(#FFFFFF, 0.05)
  --white-o5: rgba(#FFFFFF, 0.5)
  --dark: #00141F
  --dark-light: #011D2D
  --dark-light-2: #1F3B4B
  --gray: #E7F5F5
  --gray-dark: #D4F0FF
  --gray-dark-2: #516D7D
  --green: #88E876
  --green-2: #85cb33
  --green-2-o3: rgba(#85cb33, 0.3)
  --green-o3: rgba(#88E876, 0.3)
  --red: #DC2626
  --red-o3: rgba(#DC2626, 0.3)
  --main: var(--green)

  --body-color: var(--white) // цвет текста
  --bg-color: var(--dark) // цвет фона

  --big-radius: 20px
  --main-radius: 10px
  --small-radius: 5px
  --transition: 0.3s
  --sides-padding: 30px

  //--header-main-height: 80px
  //--navigation-bar-height: 70px
  --aside-width: 296px
  --scrollbar-width: 17px
  --btn-sm-height: 30px
  --btn-md-height: 40px
  --btn-lg-height: 50px
  --gap: 40px

  // z-index
  //--z-index-header: 20
  //--z-index-overlay: 15
  //--z-index-navbar: 10
  //--z-index-modal: 999
}
