ratio(width = 300, height = 300, object_fit = cover) {
  position relative
  padding-top (height / width) * 100%
  width 100%

  .ratio-container {
    position absolute
    left 0
    top 0
    right 0
    bottom 0
    overflow hidden

    img {
      width 100%
      height 100%
      object-fit object_fit
      object-position center
    }
  }
}

