.btn {
  background none
  border none
  border-radius var(--small-radius, 5px)
  display inline-flex
  align-items center
  justify-content center
  cursor pointer
  outline none
  color var(--body-color)
  font-family var(--font-regular)
  transition color var(--transition), background var(--transition), border-color var(--transition)

  .icon {
    width 16px
    height 16px
    max-width 32px
    max-height 32px
  }

  &:disabled {
    background: var(--gray-5)
    cursor not-allowed
    color: var(--text-disabled)
  }

  &--main {
    background var(--main)
    color var(--dark)

    .icon svg {
      path,
      rect {
        fill var(--dark)
      }

      circle {
        stroke var(--dark)
      }
    }

    &:hover:not(:disabled) {
      background var(--green-o8)
      color var(--dark)
    }

    &.active,
    &:active:not(:disabled) {
      background var(--green-o8)
      color var(--dark)
    }
  }

  &--white {
    background var(--white)
    color var(--main)

    .icon svg {
      path {
        fill var(--main)
      }

      circle {
        stroke var(--main)
      }
    }

    &:hover:not(:disabled) {
      background var(--main-darker)
      color var(--white)
    }

    &:active:not(:disabled) {
      background var(--main-dark)
      color var(--white)
    }
  }

  &--hollow {
    border: 1px solid var(--dark-light-2, #1F3B4B);
    background: transparent;
    color var(--gray-dark)

    &:hover:not(:disabled) {
      background var(--dark-light-2)
    }

    &.active,
    &:active:not(:disabled) {
      background var(--dark-light-2)
    }
  }

  &--dark-light {
    border: 1px solid var(--dark-light-2, #1F3B4B);
    background: var(--dark-light, #011D2D);
    color var(--white)

    .icon svg {
      path,
      rect {
        fill var(--white)
      }

      circle {
        stroke var(--white)
      }
    }

    &:hover:not(:disabled) {
      background var(--dark-light-2)
    }

    &.active,
    &:active:not(:disabled) {
      background var(--dark-light-2)
    }
  }

  &--lg {
    padding 0 30px
    height var(--btn-lg-height)
    gap 10px
    font-size 0.875rem
    font-weight 700

    .icon {
      width 20px
      height 20px
    }
  }

  &--md {
    padding 0 10px
    height var(--btn-md-height)
    gap 5px
    font-weight: 700
    font-size 0.875rem
    line-height: normal
  }

  &--sm {
    padding 0 10px
    height var(--btn-sm-height)
    gap 6px
    font-weight: 700;
    font-size: 0.875rem;
    line-height: normal;
  }
}
