.default-modal {
  z-index 1
  background: var(--dark-light);
  border 1px solid var(--gray-dark-2)
  border-radius: var(--main-radius, 10px);
  display flex
  flex-direction column
  justify-content stretch
  align-items flex-start
  position relative
  padding 30px
  gap: 20px

  &__header {
    display flex
    align-items center
    gap 10px
    justify-content space-between
    width 100%

    &--center {
      display grid
      grid-template-columns auto 1fr auto

      .default-modal__title {
        justify-content center
        text-align center
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    margin-right: auto;
    font-size: 1.25rem
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--gray-dark);
    +below(480px) {
      font-size 1.25rem
    }
  }

  &__close {
    position absolute
    top 10px
    right 10px
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: var(--main-radius)
    border: none;
    transition: var(--transition);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color var(--dark)

    &:hover {
      background-color var(--dark-light-2)
      color var(--red)
    }

    .icon {
      width 16px
      height 16px
    }
  }

  &__body {
    display flex
    flex-direction column
    justify-content flex-start
    gap: 20px
    width 100%
  }

  &__footer {
    display: flex;
    flex-direction column
    gap: 10px
    align-items center
    justify-content flex-start
    width 100%
    padding-top 20px
  }
}
