.default-modal {
  z-index 1
  background: var(--white);
  border-radius: var(--main-radius, 10px);
  display flex
  flex-direction column
  justify-content stretch
  align-items flex-start
  position relative
  padding 30px
  gap: 20px

  &__header {
    display flex
    align-items center
    gap 10px
    justify-content space-between
    width 100%

    &--center {
      display grid
      grid-template-columns auto 1fr auto

      .default-modal__title {
        justify-content center
        text-align center
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    //margin 0
    margin-right: auto;
    font-size: 1.875rem
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    +below(480px) {
      font-size 1.25rem
    }
  }

  &__back.btn {
    width: 40px;
    height: 40px;
    border-radius 10px

    .icon svg path {
      fill var(--black)
    }

    &:hover {
      background var(--gray-5)
    }
  }

  &__close {
    position: absolute;
    background var(--text-black)
    transform: translate(0, -100%);
    width: 48px;
    height: 48px;
    padding: 0;
    opacity: 0.6;
    border-radius: 50px
    right: -65px;
    top: 45px;
    border: none;
    transition: var(--transition);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    +below(1024px) {
      width 40px
      height 40px
      transform translate(0, 0)
      right 10px
      top: 10px
      background var(--white)
      border 1px solid var(--text-black)
      z-index 3
    }

    &:hover {
      background-color  var(--red)

      .icon svg path {
        fill var(--white)
      }
    }

    .icon {
      width 24px
      height 24px
      +below(1024px) {
        width 16px
        height 16px
      }

      svg path {
        fill var(--white)
        transition var(--transition)
        +below(1024px) {
          fill var(--text-black)
        }
      }
    }
  }

  &__body {
    display flex
    flex-direction column
    align-items flex-start
    justify-content flex-start
    gap: 20px
    width 100%
  }

  &__footer {
    display: flex;
    flex-direction column
    gap: 10px
    align-items center
    justify-content flex-start
    width 100%
    padding-top 20px
  }
}
